:root {
    /*--table-hover: #000000BF;*/
    --text-white: #ffffff;
    --text-black: #000000;
    --text-yellow: #fdcf13;
    --text-red: #fc4242;
    --text-green: #03b37f;
    --bg-success: #03b37f;
    --bg-success-hover: #008e64;
    --bg-warning: #fdcf13;
    --bg-danger: #fc4242;
    --bg-info: #f18521;
    --bg-bet: #03b37f52;
    --bg-tabs: #03b37f33;
    --book-green: #39ff39;
    --book-red: #f7505e;
    --back: #72bbef;
    --back-hover: #4fa1dc;
    --back1: #72bbefcc;
    --back2: #72bbefa3;
    --lay: #f994ba;
    --lay-hover: #e16f9a;
    --lay1: #f994bacc;
    --lay2: #f994baa3;
    --back-title: #72bbef80;
    --lay-title: #f994ba80;
    --football: #03b37f;
    --football_75: #03b37fbf;
    --football_50: #03b37f80;
    --tennis: #f18521;
    --tennis_75: #f18521bf;
    --tennis_50: #f18521a3;
    --boxing: #e44e23;
    --boxing_75: #e44e23bf;
    --boxing_50: #e44e2380;
    --cricket: #20327b;
    --cricket_75: #20327bbf;
    --cricket_50: #20327b80;
    --golf: #015900;
    --golf_75: #015900bf;
    --golf_50: #01590080;
    --beach-volleyball: #ff9c63;
    --beach-volleyball_75: #ff9c63bf;
    --beach-volleyball_50: #ff9c6380;
    --table-tennis: #db2752;
    --table-tennis_75: #db2752bf;
    --table-tennis_50: #db275280;
    --futsal: #74c94b;
    --futsal_75: #74c94bbf;
    --futsal_50: #74c94b80;
    --horse-racing: #9e4025;
    --horse-racing_75: #9e4025bf;
    --horse-racing_50: #9e402580;
    --egames: #623cea;
    --egames_75: #623ceabf;
    --egames_50: #623cea80;
    --grey-hounds: #e89780;
    --grey-hounds_75: #e89780bf;
    --grey-hounds_50: #e8978080;
    --trotting: #996658;
    --trotting_75: #996658bf;
    --trotting_50: #99665880;
    --speedway: #c14347;
    --speedway_75: #c14347bf;
    --speedway_50: #c1434780;
    --basketball: #fbb03b;
    --basketball_75: #fbb03bbf;
    --basketball_50: #fbb03ba3;
    --moto-gp: #9fbe3c;
    --moto-gp_75: #9fbe3cbf;
    --moto-gp_50: #9fbe3c80;
    --chess: #0e345e;
    --chess_75: #0e345ebf;
    --chess_50: #0e345e80;
    --vollyball: #074a60;
    --vollyball_75: #074a60bf;
    --vollyball_50: #074a6080;
    --ice-hockey: #2f7ed5;
    --ice-hockey_75: #2f7ed5bf;
    --ice-hockey_50: #2f7ed580;
    --equine-sports: #e07a5f;
    --equine-sports_75: #e07a5fbf;
    --equine-sports_50: #e07a5f80;
    --australians-rules: #ff6457;
    --australians-rules_75: #ff6457bf;
    --australians-rules_50: #ff645780;
    --badminton: #3c7a57;
    --badminton_75: #3c7a57bf;
    --badminton_50: #3c7a5780;
    --formula-1: #bf6f7e;
    --formula-1_75: #bf6f7ebf;
    --formula-1_50: #bf6f7e80;
    --nascar: #cb2755;
    --nascar_75: #cb2755bf;
    --nascar_50: #cb275580;
    --hockey: #3d2b58;
    --hockey_75: #3d2b58bf;
    --hockey_50: #3d2b5880;
    --supercars: #772b59;
    --supercars_75: #772b59bf;
    --supercars_50: #772b5980;
    --netball: #279a95;
    --netball_75: #279a95bf;
    --netball_50: #279a9580;
    --surfing: #81a6ff;
    --surfing_75: #81a6ffbf;
    --surfing_50: #81a6ff80;
    --cycling: #60a5da;
    --cycling_75: #60a5dabf;
    --cycling_50: #60a5da80;
    --gaelick-sports: #07695f;
    --gaelick-sports_75: #07695fbf;
    --gaelick-sports_50: #07695f80;
    --biathlon: #2f158b;
    --biathlon_75: #2f158bbf;
    --biathlon_50: #2f158b80;
    --motorbikes: #bd6a58;
    --motorbikes_75: #bd6a58bf;
    --motorbikes_50: #bd6a5880;
    --athletics: #d96c0d;
    --athletics_75: #d96c0dbf;
    --athletics_50: #d96c0d80;
    --squash: #446ea6;
    --squash_75: #446ea6bf;
    --squash_50: #446ea680;
    --basketball-3-3: #e83d1a;
    --basketball-3-3_75: #e83d1abf;
    --basketball-3-3_50: #e83d1a80;
    --floorball: #04adbf;
    --floorball_75: #04adbfbf;
    --floorball_50: #04adbf80;
    --sumo: #d95b66;
    --sumo_75: #d95b66bf;
    --sumo_50: #d95b6680;
    --virtual-sports: #d592ff;
    --virtual-sports_75: #d592ffbf;
    --virtual-sports_50: #d592ff80;
    --handball: #69306d;
    --handball_75: #69306dbf;
    --handball_50: #69306d80;
    --politics: #b4845b;
    --politics_75: #b4845bbf;
    --politics_50: #b4845b80;
    --weather: #518cad;
    --weather_75: #518cadbf;
    --weather_50: #518cad80;
    --tv-games: #513896;
    --tv-games_75: #513896bf;
    --tv-games_50: #51389680;
    --lottery: #e9bc26;
    --lottery_75: #e9bc26bf;
    --lottery_50: #e9bc2680;
    --bowls: #590902;
    --bowls_75: #590902bf;
    --bowls_50: #59090280;
    --waterpolo: #21a3b8;
    --waterpolo_75: #21a3b8bf;
    --waterpolo_50: #21a3b880;
    --alpine-skiing: #509bff;
    --alpine-skiing_75: #509bffbf;
    --alpine-skiing_50: #509bff80;
    --sailing: #00b4d8;
    --sailing_75: #00b4d8bf;
    --sailing_50: #00b4d880;
    --hurling: #52b788;
    --hurling_75: #52b788bf;
    --hurling_50: #52b78880;
    --ski-jumping: #70c1b3;
    --ski-jumping_75: #70c1b3bf;
    --ski-jumping_50: #70c1b380;
    --bandy: #d99b84;
    --bandy_75: #d99b84bf;
    --bandy_50: #d99b8480;
    --motor-sports: #a175c8;
    --motor-sports_75: #a175c8bf;
    --motor-sports_50: #a175c880;
    --baseball: #c06c84;
    --baseball_75: #c06c84bf;
    --baseball_50: #c06c8480;
    --rugby-union: #8a101c;
    --rugby-union_75: #8a101cbf;
    --rugby-union_50: #8a101c80;
    --rugby-league: #ed5f62;
    --rugby-league_75: #ed5f62bf;
    --rugby-league_50: #ed5f6280;
    --curling: #5478bf;
    --curling_75: #5478bfbf;
    --curling_50: #5478bf80;
    --darts: #b21347;
    --darts_75: #b21347bf;
    --darts_50: #b2134780;
    --americal-footbal: #d3393d;
    --americal-footbal_75: #d3393dbf;
    --americal-footbal_50: #d3393d80;
    --snooker: #11b24b;
    --snooker_75: #11b24bbf;
    --snooker_50: #11b24b80;
    --lottery-specials: #a53860;
    --lottery-specials_75: #a53860bf;
    --lottery-specials_50: #a5386080;
    --special-bets: #e63946;
    --special-bets_75: #e63946bf;
    --special-bets_50: #e6394680;
    --lotto: #05668d;
    --lotto_75: #05668dbf;
    --lotto_50: #05668d80;
    --card-cricket: #581ab4;
    --card-cricket_75: #581ab4bf;
    --card-cricket_50: #581ab480;
    --kabaddi: #6e2e26;
    --kabaddi_75: #6e2e26bf;
    --kabaddi_50: #6e2e2680;
    --boat-racing: #2b65ec;
    --boat-racing_75: #2b65ecbf;
    --boat-racing_50: #2b65ec80;
    --e-socker: #03b37f;
    --e-socker_75: #03b37fbf;
    --e-socker_50: #03b37f80;
    --wrestling: #D81125;
    --wrestling50: #D81125bf;
    --wrestling75: #D8112580;
}
