.odds-header-container[data-v-c9d3df59] {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.odds-header[data-v-c9d3df59] {
  display: flex;
  text-align: center;
  font-weight: 700;
  padding: 3px 0;
  min-width: 350px;
  gap: 10px;
  margin-right: 40px;
}
.odds-header > div[data-v-c9d3df59] {
  flex: 1;
  font-size: 12px;
}
.accordion-button[data-v-39546433]:after {
  background-image: url(/assets/down-open-icons-BMVvhj-B.png) !important;
  transform: rotate(0) !important;
  padding: 1.3vw;
  width: 6.4vw;
  height: 6.4vw;
  right: 0;
  border-radius: 1.06667vw;
  display: inline-block;
  border: 1px solid #e0e6e6;
  text-align: center;
  background-position: center;
  background-size: 50%;
}

.accordion-button[data-v-39546433]:not(.collapsed):after {
  background-image: url(/assets/down-open-icons-BMVvhj-B.png) !important;
  transform: rotate(90deg) !important;
}

.accordion-button[data-v-39546433]:not(.collapsed) {
  background-color: #fff;
  box-shadow: none;
}

.accordion-button[data-v-39546433]:focus {
  box-shadow: none;
}

.accordion-item[data-v-39546433] {
  border-radius: 0;
}

.accordion-body[data-v-39546433] {
  padding: 10px 15px;
  border-top: 1px solid #ccc;
}

.accordion-body span[data-v-39546433] {
  color: #2789ce;
  font-weight: 600;
}

.sport-arrow[data-v-39546433] {
  width: 14px;
  height: 16px;
  margin-right: 7px;
}

.sport-icon[data-v-39546433],
.sports-name-lft img[data-v-39546433] {
  width: 5vw;
  margin-right: 8px;
  vertical-align: middle;
  filter: brightness(0) saturate(100%) invert(61%) sepia(77%) saturate(4813%)
    hue-rotate(181deg) brightness(90%) contrast(77%);
}

.active-sec a[data-v-39546433] {
  border: 1px solid white !important;
}
