.search-list {
  position: absolute;
  background-color: #444444;
  top: 0px;
  left: 0px;
  height: fit-content;
  max-height: 200px;
  overflow: hidden;
  overflow-y: scroll;
  z-index: 1;
}

.search-game-name {
  color: white;
}

.search-link {
  text-decoration: none;
  color: inherit;
  display: block;
}

.search-tournament-name {
  color: rgb(210, 210, 210);
}

.search-link:hover .search-tournament-label,
.search-link:hover .search-game-date {
  text-decoration: underline;
  color: white;
}
.search-game-date {
  color: rgb(210, 210, 210);
}
.search-no-results {
  position: absolute;
  top: 40px;
  left: 0px;
  width: 100%;
  gap: 1rem;
  appearance: none;
  font-size: 0.75rem;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  border: 1px solid;
  display: flex;
  flex-direction: column;
  background-color: #444444;
  border-radius: 0.375rem;
  color: white;
  overflow-y: auto;
  max-height: 300px;
  scrollbar-width: none;
  z-index: 1000;
}

.search-no-results::-webkit-scrollbar {
  display: none;
}

.search-no-results-text {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}
